        body{
            background-color: hsl(212, 45%, 89%);
            font-family: 'Outfit', sans-serif;
            text-align: center;
            font-size: 15px; 
        }
        h1 {
            color: hsl(218, 44%, 22%);
            padding: 15px;
            margin-bottom: 20px;
            font-weight: 700;
        }
         p {
            color: hsl(216, 15%, 48%);
            font-size: 15px;
            font-weight: 400;
            padding: 0 20px 50px 20px;
            line-height: 1.8;
        }
        .container{
            background-color:  hsl(0, 0%, 100%);   
            border-radius: 10px;
            margin: 100px auto;
            width: 90%;
            padding: 20px;
            max-width: 350px;
        }
        .img{
            border-radius: 15px;
            width: 100%;
            margin-top: 10px;
            display: block;
        }